.dashboard-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  opacity: 0;
  transform: translateY(50px);
  animation: slide-In 0.5s ease-out forwards;
}

@keyframes slide-In {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
